html {
	font-family: "微软雅黑";
	font-size: 14px;
}
.userInfo ul,.userInfo ol,.userInfo p {padding:0; margin:0; border:0; -webkit-appearance:none;}
.userInfo ul, ol{list-style: none;}
.userInfo a{
     text-decoration:none;
}
.userInfo{
	position:relative;
}
.userInfo .relative{
	position:relative;
}
.userInfoUl{
	display: flex;
	font-size:14px;
}
.userInfoItem{
	flex:1;
	line-height:40px;
}
.infoLabel{
	font-weight:bold;
	color:#333;
}
.infoCont{
	color:#666;
}
/*到访信息弹框*/
.visitedTimes{
	cursor:pointer;
}
.visitedTimesDialog{
	position: absolute;
    z-index: 102;
	line-height:normal;
	opacity:0;
	visibility:hidden;
}
.visitedTimesDialogCont{
	box-sizing:border-box;
	width: 600px;
    border: 5px solid #e1e2e3;
    border-radius: 10px;
    background-color: #fff;
}
.visitedTimesDialog.hoverShow{
	opacity:1;
	visibility:visible;
}
.visitedInfo{
    line-height: 36px;
    width: calc(100% - 6px);
    margin: 0 3px;
    table-layout: fixed;
    text-align: center;
    font-family: "Microsoft Yahei";
    font-size: 14px;
}
.visitedInfo td{
	margin:10px;
}
.visitedInfo thead{
	color:#333;
}
.visitedInfo tbody{
	color:#666;
}
.visitedInfo thead,.visitedInfo tbody tr:nth-child(even){
	background-color:#f5f8f8;
}
.visitedTimesDialog.hoverShow .remark{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height:22px;
}
.visitedInfo .width-25{
	width:25%;
}
.visitedInfo .width-50{
	width:50%;
}
/*绑定弹框*/
.bindDialog{
	z-index:102;
}
.noBound{
	color:#faa824;
	cursor:pointer;
}
.bindDialog .dialog-cont{
	box-sizing:border-box;
	width:507px;
}
.bindDialog .dialog-bd{
	padding:30px 95px;
	line-height:45px;
}
.bindForm input{
	border:1px solid #e7e7e7;
}
.bindForm input[type="text"]:focus{
	outline:none;
}
.bindForm input[type="text"]{
	width:180px;
}
.necessary{
	font-style:normal;
	position:absolute;
	left:-10px;
	display:inline-block;
	padding-right:5px;
	color:red;
}
.bindUserSex{
	text-indent:2em;
}
.bindUserSex input[type = "radio"]{
    width: 30px;
    height: 15px;
    opacity: 0;
    display: inline-block;
    padding: 0 10px;
}
.bindUserSex input[type = "radio"]+label {
    position: absolute;
    top: 15px;
    border: 1px solid #C1CACA;
    border-radius: 50%;
    display: inline-block;
    width: 15px;
    height: 15px;
}
label .circle{
    display: inline-block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
}
.bindUserSex input[type = "radio"]:checked + label .circle{
    background-color:#e7e7e7;
}
#male+label{
    left: 80px;
}
#female+label{
	left: 130px;
}
.bindForm input[type="button"]{
	border:none;
	width: 100px;
    height: 32px;
    border-radius: 4px;
    background-color: #faa824;
    color: #fff;
    font-size: 14px;
	outline:none;
}
.btnWrapper{
	display: flex;
	justify-content:center;
}
#bindRegisterBtn{
	background-color:#79c349;
}
/*PagerView分页*/
.visitedTimesDialog .dialog-ft{
	margin:12px;
}
#visitedPager{
	width:calc(100% - 6px)!important;
	margin:20px 3px;
	height:auto!important;
	display: flex;
	justify-content:flex-end;
}
#visitedPager .PagerView span{
	display: inline-block;
	padding: 7px 15px ;
	border:1px solid #f0f0f0;
	border-radius:3px;
	background-color:#f5f5f6;
	color:#8f8d8d;
	margin-right:6px;
}
#visitedPager .PagerView span.on{
	border-color:#faa824;
	background-color:#faa824;
	color:#fff;
}
/*花样旅行团*/
.variedMember{
    position: absolute;
    right: 22px;
    top: 14px;
    background: url("../../img/StoreReception/stamp.png") center center;
    width: 68px;
    height: 68px;
    display:none;
}
.variedMember.show{
	display: block;
}
/*脚印*/
.footStep{
	vertical-align: -4px;
    width: 25px;
    height: 23px;
    background: url(../../img/StoreReception/public.png) -22px -186px;
    display: inline-block;
}
/*提示*/
.tip{
    margin-left: 10px;
    display: inline-block;
    line-height: normal;
    text-align: center;
    font-size: 12px;
    width: 16px;
    height: 16px;
    font-style: normal;
    border: 1px solid #666;
    color: #666;
    border-radius: 50%;
    cursor: pointer;
}
/*没有输入mobile的弹框*/
.inputMobile{
	width:450px;
	height:32px;
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display: none;
}
.inputMobile.show{
	display:block;
}
.inputMobile input[type="text"]{
    width: 280px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    font-size: 14px;
    text-indent: .5em;
    line-height: 28px;
    outline:none;
}
.inputMobile input[type="button"]{
	border:none;
	width: 100px;
    height: 32px;
    border-radius: 4px;
    background-color: #faa824;
    color: #fff;
    font-size: 14px;
	outline:none;
	margin-left:20px;
	background-color:#79c346;
}
.ensureWrapper{
	flex-direction:column;
	display: flex;
	justify-content:center;
	align-items:center;
	margin:30px 0;
}
.ensureWrapper .phoneNum{
 	font-size:20px;
 	margin-top:20px;
}
p.phoneBtnWrapper {
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.mobilePhoneDialog .phoneBtnWrapper input[type="button"]{
	border:none;
	width: 100px;
    height: 32px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
	outline:none;
	margin-right:30px;
}
#reInput{
	background-color:#79c346;
}
#ensurePhone{
	background-color:#f65239;	
}
.hasMobile.hide{
	display: none;
}